* {
    margin: 0;
}

.whole {
    background-image: url("./imgs/bg.jpg");
    background-size: cover;
}

.h5v {
    height: 6vh;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.h90 {
    height: 88vh;
    background-color: rgba(0, 0, 0, 0.2);
}

.h30 {
    height: 30vh;
}

.mg-auto {
    margin: auto;
}

.resultColor {
    background-color: rgb(9, 63, 22) !important;
    color: rgb(94, 255, 0) !important;
}

.transparent-bg-search {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.font-gold {
    color: gold !important;
}

.font-black {
    color: black !important;
}

.border-none {
    border: none;
}

.scroll-h50 {
    max-height: 50vh;
    overflow-y: auto;
}

.overflow-y {
    overflow-y: auto;
    min-height: 0px;
    padding: 0;
    max-height: 200px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}